

html,
body {
        position: relative;
        height: 100%;
      }

      body {
        font-family: 'BMKIRANGHAERANG', 'BMDoHyeon', Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: rgb(0, 0, 0);
        margin: 0;
        padding: 0;
      }

      .swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }




.main_wrap {width: 980px; margin: 0 auto; }
section { padding: 10px 0;}
.top {height: 500px;;}
.card {display: flex; flex-wrap: wrap;}
.card > li { background: rgb(222, 244, 255); width: calc(33.3333% - 10px); margin: 5px;; flex: 1 1 auto; height: 300px;;}
.middle {border-bottom: 1px solid #ddd;height: 100%;;}
/* h1 {font-family: 'BMDoHyeon';} */